body{
  background-color:#1f2527;
  color:#fff;
  font-family: 'Roboto', sans-serif;
}

#header{
  width:100%;
}

#header > img{
  width:6vw;
  display:inline-block;
}
#header > h1{
  display:inline-block;
  margin-left:5vmin;
}

a{
  color:#fff;
  text-decoration:none;
}

p{
  font-size:150%;
}

#menu{
  display:inline-block;
}

#menu a{
  vertical-align: middle;
  font-size:200%;
  margin-left:5vw;
}

#portfolio{
  width:80vw;
  margin-left:10vw;
}


.portfolioItem{
  width:100%;
  border-top: 1.5px #fff solid;
  border-bottom: 1.5px #fff solid;
}

.portfolioItem img:first-child{
  width:50%;
  float: left;
}


.portfolioItem img{
  width:30%;
  vertical-align: top;
  margin-bottom:20px;
  margin-right:20px;
  float: left;
}

.portfolioItem p{
  vertical-align:middle;
  display:inline-block;
}

.portfolioItem > h2{
  vertical-align:middle;
  display:inline-block;
  width:73vw;
}
.portfolioItem > span{
  vertical-align:middle;
}


.numberHeader{
  font-size:300%;
  text-shadow: 1px 1px #fff;
  margin-top:-7vh;
  width:10vw;
}

#mobileHeader{
  display:none;
}

#mobileHeader > img{
  margin-left:10vw;
  width:10vw;
  display:inline-block;
}
#mobileHeader > h1{
  display:inline-block;
  margin-left:5vmin;
}


#menuButton{
  font-size:10vw;
  vertical-align: middle;
  margin-left:3vw;
}


#mobileMenu{
  display:none;
  text-align: center;
  width:100%;
}



#mobileMenu a{
  vertical-align: middle;
  font-size:200%;
}


@media (orientation:portrait){

  body{
    font-size:200%;
  }

  #header{
    display:none;
  }
  #mobileHeader{
    display:block;
  }
  .portfolioItem > h2{
    width:65vw;
  }

}
